{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}

<script src="{% static 'js/home.js' %}"></script>


<div class="image-header-slideshow">
    <div class="slide-item one"></div>
    <div class="slide-item two"></div>
    <div class="slide-item three"></div>
    <div class="slide-item four"></div>
</div>
<div class="text">
    <h1>VOTRE FUTUR COMMENCE ICI</h1>
    <h3>Simplifiez votre projet d'immigration avec notre accompagnement personnalisé et bienveillant</h3>

    <a href="{% url 'service' %}"><button type="button" class="button">Decouvrir nos services</button></a>

</div>
<h3 class="entete"> Faites le choix de votre destinations </h3>

<div class="carousel-container">
    <div class="carousel-track">
        <div class="flag-item">
            <img src="{% static 'images/pologne.webp' %}" alt="Drapeau France">
            <p>Pologne</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/drapeau_canada.jpg' %}" alt="Drapeau Canada">
            <p>Canada</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/portugal.jpg' %}" alt="Drapeau USA">
            <p>Portugal</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/norvege.webp' %}" alt="Drapeau Allemagne">
            <p>Norvège</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/australie.webp' %}" alt="Drapeau Japon">
            <p>Australie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/turquie.webp' %}" alt="Drapeau Brésil">
            <p>Turquie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/Dubai.webp' %}" alt="Drapeau Australie">
            <p>Dubaie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/slovaquie.webp' %}" alt="Drapeau Italie">
            <p>Slovaquie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/ongrie.webp' %}" alt="Drapeau Chine">
            <p>Hongrie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/grece.webp' %}" alt="Drapeau Mexique">
            <p>Grèce</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/luxembourg.webp' %}" alt="Drapeau France">
            <p>Luxembourg</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/republique_tcheque.webp' %}" alt="Drapeau Canada">
            <p>Serbie</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/romanie.webp' %}" alt="Drapeau Mexique">
            <p>Roumanie</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/serbie.webp' %}" alt="Drapeau Mexique">
            <p>Serbie</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/bieloussie.webp' %}" alt="Drapeau Mexique">
            <p>Bielorussie</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/autriche.webp' %}" alt="Drapeau Mexique">
            <p>Autriche</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/allemagne.webp' %}" alt="Drapeau Mexique">
            <p>Allemagne</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/italie.webp' %}" alt="Drapeau Mexique">
            <p>Italie</p>
        </div>

        <div class="flag-item">
            <img src="{% static 'images/espagne.webp' %}" alt="Drapeau Mexique">
            <p>Espagne</p>
        </div>
        <div class="flag-item">
            <img src="{% static 'images/armenie.webp' %}" alt="Drapeau Mexique">
            <p>Armenie</p>
        </div>








    </div>
</div>
<div class="visa">
    <ul>
        <a href="{% url 'visa_travail' %}">
            <li class="visa-card"><i class="fa-solid fa-briefcase"></i><br>Visa Travail</li>
        </a>
        <a href="{% url 'visa_etudiant' %}">
            <li><i class="fa-solid fa-graduation-cap"></i><br>Visa etudiant</li>
        </a>
        <a href="{% url 'visa_tourisme' %}">
            <li><i class="fa-solid fa-globe"></i><br>Visa Visiteur</li>
        </a>

    </ul>
</div>

<h3 class="entete2"> Nos differentes destinations</h3>


<div id="slider-main-wrapper">
    <div id="slider-container">
        <div id="pays-list">

            {% for pays in pays_avec_visas %}

            <div class="pays-card-wrapper">
                <div class="pays-card">
                    <div class="header-card-content">
                        <div class="drapeau-cercle">
                            {% if pays.drapeau %}
                            <img src="{{ pays.drapeau.url }}" alt="Drapeau de {{ pays.nom_pays }}">
                            {% endif %}
                        </div>
                        <div class="info-pays">
                            <h2>{{ pays.nom_pays }}</h2>
                            <p>{{ pays.continent }}</p>
                        </div>
                    </div>
                    <p>{{ pays.description_generale }}</p>

                    <div class="visas-section">
                        <h4>Visas Disponibles:</h4>

                        {% for visa_par_pays in pays.visaparpays_set.all %}
                        <div class="visa-item">
                            <h4>{{ visa_par_pays.type_visa.nom_visa }}</h4>
                            <p>{{ visa_par_pays.type_visa.description_courte }}</p>
                        </div>
                        {% empty %}
                        <p>Aucun visa répertorié pour ce pays.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<h1 class="promotions">Promotions de Visas Disponibles</h1>

{% if promotions %}
<table>
    <thead>
        <tr>
            <th>Pays</th>
            <th>Type de Visa</th>
            <th>Détails de la Réduction</th>
        </tr>
    </thead>
    <tbody>
        {% for promotion in promotions %}
        <tr>
            <td>
                <div class="pays-info">
                    <div class="drapeau-promo">
                        {% if promotion.pays.drapeau %}
                        <img src="{{ promotion.pays.drapeau.url }}" alt="Drapeau de {{ promotion.pays.nom_pays }}">
                        {% endif %}
                    </div>
                    <span>{{ promotion.pays.nom_pays }}</span>
                </div>
            </td>
            <td>{{ promotion.type_visa.nom_visa }}</td>
            <td class="reduction">{{ promotion.reduction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Aucune promotion n'est actuellement disponible.</p>
{% endif %}



<p class="processus">le processus pour votre immigration se fera en quatre etapes</p>
</div>
<section class="steps-section">

    <div class="steps-grid">

        <div class="step-card top-left">
            <div class="step-icon">
                <img src="{% static 'images/img3.png' %}" alt="Icone Consultation">
            </div>
            <h2>1. Consultation personnalisée </h2>
            <p>
                Nous évaluons votre profil, vos objectifs et votre éligibilité pour déterminer le meilleur programme
                d’immigration (visa étudiant, travail, tourisme, résidence).
                Objectif : vous fournir une orientation claire et un plan d’action adapté</p>
        </div>

        <div class="step-card top-right">
            <div class="step-icon">
                <img src="{% static 'images/img2.png' %}" alt="Icone Consultation">
            </div>
            <h2>2. Choix du pays & préparation du dossier </h2>
            <p>Nous vous aidons à choisir le pays le plus adapté et à préparer chaque document exigé par les services
                d’immigration. <br>
                Objectif : un dossier complet, conforme et solide. <br>
                SEO : préparation dossier visa, documents immigration, choix du pays.</p>
        </div>

        <div class="step-card bottom-left">
            <div class="step-icon">
                <img src="{% static 'images/img3.png' %}" alt="Icone Consultation">
            </div>
            <h2>3. Soumission & suivi de la procédure </h2>
            <p>Nous assurons la soumission de votre dossier et le suivi de votre demande jusqu’à la réponse officielle.
                <br>Objectif : vous garantir une procédure fluide et conforme.
            </p>
        </div>

        <div class="step-card bottom-right">
            <div class="step-icon">
                <img src="{% static 'images/img4.png' %}" alt="Icone Consultation">
            </div>
            <h2>4. Prise de rendez-vous à l’ambassade </h2>
            <p>
                Nous vous accompagnons pour la demande de rendez-vous à l’ambassade et la préparation de votre entretien
                (si requis).
                <br>Objectif : maximiser vos chances d’acceptation.
            </p>
        </div>
    </div>
</section>

<div class="section-container section-top">
    <div class="content-wrapper top-content">
        <div class="text-block">
            <h1>Qui sommes-nous</h1>
            <p>
                <strong>Bright Consulting</strong> est une agence spécialisée dans l’accompagnement pour les voyages,
                études à l’étranger
                et procédures d’immigration. Installés à Douala, nous aidons chaque année des centaines de personnes à
                concrétiser leurs projets internationaux grâce à un suivi professionnel, transparent et personnalisé.
            </p>

            <p>Notre mission est simple : ouvrir les portes du monde à ceux qui souhaitent étudier, travailler, voyager
                ou s’installer à l’étranger, en leur offrant un accompagnement fiable et conforme aux exigences des
                ambassades et services d’immigration</p>

            <p>Avec une équipe expérimentée, nous analysons chaque profil, préparons les dossiers, assurons le suivi
                administratif et guidons le client jusqu’à l’obtention de son visa. Nous plaçons la sécurité, la
                conformité et la réussite au cœur de nos priorités.</p>

        </div>
        <div class="image-block">
            <img src="{% static 'images/img5.png' %}" alt="Icone Consultation">
        </div>
    </div>
</div>

<div class="section-container section-bottom">
    <div class="content-wrapper bottom-content">
        <div class="image-block-director">
            <div class="purple-frame"></div>
            <img src="{% static 'images/img6.png' %}" alt="Icone Consultation">
        </div>

        <div class="text-block-mission">
            <div class="director-info">
                <p class="role">Le Directeur général</p>
            </div>

            <p>Lorsque j’ai fondé Bright Consulting, je n’avais qu’une conviction : chaque être humain mérite la chance
                de construire une vie meilleure, où qu’elle se trouve dans le monde.
                Au fil des années, j’ai rencontré des étudiants, des parents, des travailleurs, des rêveurs… Tous
                portaient la même flamme : celle de l’espoir. L’espoir d’apprendre ailleurs, de travailler ailleurs, de
                protéger leur famille, d’élargir leurs horizons.</p>

            <p>C’est pour honorer cette flamme que nous avons bâti <strong class="nom"> Bright Consulting</strong>.
                Ici, vous n’êtes pas un numéro de dossier. Vous êtes une histoire, un projet, un avenir. Nous prenons le
                temps d’écouter, de comprendre, d’accompagner. Parce que derrière chaque demande de visa, il y a un cœur
                qui bat, une vie qui peut changer.</p>

            <p>Chaque réussite de nos clients est une victoire qui nous touche profondément. Chaque visa obtenu est un
                sourire de plus, un rêve qui prend forme, une famille qui avance vers un nouveau chapitre.
                Et c’est cette émotion qui nous pousse, chaque jour, à donner le meilleur de nous-mêmes.</p>

            <p>Merci de nous confier vos projets. Merci de croire en nous.
                Nous marcherons à vos côtés pas seulement comme agence, mais comme partenaire, comme soutien, comme
                guide.</p>

        </div>
    </div>
</div>

<section class="team-section">
    <h1>Notre équipe</h1>

    <div class="team-grid">
        <div class="team-member">
            <img src="{% static 'images/img10.png' %}" alt="Icone Consultation">
            <p class="name">M.</p>
            <p class="role">Commercial</p>
        </div>

        <div class="team-member">
            <img src="{% static 'images/img8.png' %}" alt="Icone Consultation">
            <p class="name">Mlle.</p>
            <p class="role">Assistante</p>
        </div>

        <div class="team-member">
            <img src="{% static 'images/img7.png' %}" alt="Icone Consultation">
            <p class="name">Mlle.</p>
            <p class="role">Assistante</p>
        </div>

        <div class="team-member">
            <img src="{% static 'images/img9.png' %}" alt="Icone Consultation">
            <p class="name">Mlle.</p>
            <p class="role">Secretaire</p>
        </div>

        <div class="team-member">
            <img src="{% static 'images/img7.png' %}" alt="Icone Consultation">
            <p class="name">Mlle.</p>
            <p class="role">Commercial</p>
        </div>

        <div class="team-member">
            <img src="{% static 'images/img11.png' %}" alt="Icone Consultation">
            <p class="name">Mlle.</p>
            <p class="role">Developpeur</p>
        </div>
    </div>
</section>

<br>

<section class="testimonials-section">
    <h1 class="testimonials-title">Témoignages</h1>

    <div class="testimonials-grid">

        <div class="testimonial-card anita">
            <div class="avatar">
                <img src="{% static 'images/tem1.jpg' %}" alt="Icone Consultation">
            </div>
            <p class="client-name">Anita</p>
            <p class="quote">j'ai été impressionné par le service réactif et personnalisé de l'agence pour un voyage en
                Italie. j'apprécie particulièrement les suggestions d'activités</p>
        </div>

        <div class="testimonial-card laura">
            <div class="avatar">
                <img src="{% static 'images/tem2.webp' %}" alt="Icone Consultation">
            </div>
            <p class="client-name">Laura</p>
            <p class="quote">Grâce à leur organisation rigoureuse et leur professionnalisme, mon dossier a été soumis
                rapidement et sans erreur.

                Je les recommande vivement à quiconque cherche un chemin clair, efficace et sans stress vers son
                objectif d'immigration.</p>
        </div>

        <div class="testimonial-card christophe">
            <div class="avatar">
                <img src="{% static 'images/tem3.webp' %}" alt="Icone Consultation">
            </div>
            <p class="client-name">Christophe</p>
            <p class="quote">Mon cas de demande de visa de travail était compliqué, mais Bright Consulting a pris le
                temps d'analyser mon historique et d'élaborer une stratégie sur mesure très bien argumentée.</p>
        </div>

    </div>
</section>


</main>


-->


{% endblock %}