.preface .text {
    margin-left: auto;
    margin-right: auto
}

.preface .text h2 {
    position: absolute; 
    font-size: 2.5em;
    top: 6.5em;
    left: 5.5em;  
    font-family: 'Manrope', sans-serif;
    color: #ffff;
}

.preface .text .text2 {
    position: absolute;
    top: 4.5em;
    left: 1.5em;  
    font-size: 0.5em;
    font-family: 'Manrope', sans-serif;
    
}

.preface .text .text3 {
    position: absolute;
    top: 6.5em;
    left: 5.5em;  
    font-size: 0.5em;
    font-family: 'Manrope', sans-serif;
    color: #ffff;
    
}

.images {
   width: 79em;
   height: 26em;
} 

.section-header h1, .section-header h2 {
    color: #4a148c; 
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}

.beneficiaires-section p {
    margin-left: 5em;
    font-family: 'Manrope', sans-serif;
} 



.beneficiaires-section ul {
    margin-left: 8em;
    font-family: 'Manrope', sans-serif;
    list-style-type: none;
}

.beneficiaires-section li {
    padding-left: 1.5em; 
    position: relative;
    margin-bottom: 8px;
} 

.beneficiaires-section li::before {
    content: "•";
    color: #4a148c; 
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}  

.image-famille1 {
    width: 15em;
    height: 15em;
    margin-left: 58em;
    position: absolute;
   top: 42em;
}


.beneficiaires-section ul {
    list-style-type: none; 
    padding-left: 0;
    margin-top: 15px;
} 

.section-header h2 {
    margin-top: 2em;
    text-align: center;
    font-size: 30px;
}

.criteres-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.criteres-section {
    margin-bottom: 40px;
}



.criteres-content .text-content {
    flex-basis: 75%; 
}

.criteres-content ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 15px;
    font-family: 'Manrope', sans-serif;
    margin-left: 5em;

}

.criteres-content p {
    font-family: 'Manrope', sans-serif;
    margin-left: 5em;

}

.criteres-content li {
    margin-bottom: 15px; 
    padding-left: 1.5em;
    position: relative;
}

.criteres-content li::before {
    content: "•";
    color: #4a148c;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


